<div class"right">
	<a href="/signup">signup</a>
</div>

    <h2>/login/</h2>

    {% if message %}
   	<div style="color:red" class="error">In order to edit <a href="{{url}}">{{url}}</a> you must first login.</div>
   	{% endif %}

	<form method="post">
	<label>
		<div>Username</div>
		<input type="text" name="username" value="{{username}}">
	</label>

	<label>
		<div>Password</div>
		<input type="password" name="password" value="{{password}}">
	</label>

	<div class="error">{{error}}</div>

	<input type="submit">

</form>


