<!DOCTYPE html>

<div class"right">
	 edit 
 	| {{logged_in_user}} (<a href="../logout">logout</a>) | <a href="../signup">signup</a>
</div>

    <h2>/user registration/</h2>

	<div class="error">{{error}}</div>

	<form method="post">
	<label>
		<div>Username</div>
		<input type="text" name="username" value="{{username}}">
	</label>

	<label>
		<div>Email</div>
		<input type="text" name="email" value="{{email}}">
	</label>

	<label>
		<div>Password</div>
		<input type="password" name="password" value="{{password}}">
	</label>

	<label>
		<div>Verify password</div>
		<input type="password" name="verify" value="{{verify}}">
	</label>

	<input type="submit">

</form>


